<!-- BLOCK BAR -->
<!-- UTILISE POUR VALEURS -->
<section id="m-line_graph">
    <div class="container">
        <div class="m-team_section">
            <div class="m-section_header">
                <h2>Nos Valeurs</h2>
            </div>
        </div>
    </div>
    <div class="container clearfix m-mt90 m-line_graph">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
            <h3>Lorem</h3>
            <p>Itaque tum Scaevola cum in eam ipsam mentionem incidisset, exposuit nobis sermonem Laeli de amicitia habitum ab illo secum et cum altero genero, C. Fannio Marci filio, paucis diebus post mortem Africani. Eius disputationis sententias memoriae mandavi, quas hoc libro exposui arbitratu meo; quasi enim ipsos induxi loquentes, ne 'inquam' et 'inquit' saepius interponeretur, atque ut tamquam a praesentibus coram haberi sermo videretur.</p>


        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 m-line_grahp">
            <div class="row">
                <div class="m-line_graph_single">
                    <span>Val. 1</span>
                    <div class="m-line_graph_bar">
                        <div>
                            <span data-attr="90"></span>
                        </div>
                    </div>
                </div>
                <div class="m-line_graph_single">
                    <span>Val. 2</span>
                    <div class="m-line_graph_bar">
                        <div>
                            <span data-attr="40"></span>
                        </div>
                    </div>
                </div>
                <div class="m-line_graph_single">
                    <span>Val. 3</span>
                    <div class="m-line_graph_bar">
                        <div>
                            <span data-attr="80"></span>
                        </div>
                    </div>
                </div>
                <div class="m-line_graph_single">
                    <span>Val. 4</span>
                    <div class="m-line_graph_bar">
                        <div>
                            <span data-attr="50"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END BLOCK BAR -->