<div class="m-main_slider">
    <img src="{{ asset('assets/images/service_banner.jpg') }}" class="img-responsive" alt="">
    <div class="container m-breadcrumb">
        <h3>CONTACT</h3>

    </div>
</div>
<section id="m-contact">
    <div class="container">
        <div class="m-contact_section">
            <div class="m-section_header">
                <h2>CONTACT</h2>
                <span>laissez nous un message</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="m-contact_info clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form action="#" class="clearfix">
                    <input type="text" name="name" placeholder="Votre nom">
                    <input type="email" name="email" placeholder="Courriel" class="pull-right">
                    <textarea name="message" placeholder="Message"></textarea>
                    <button>envoyer le message</button>
                </form>
            </div>
        </div>
    </div>
</section>
