<!-- SERVICES TYPE -->
<!-- UTILISATION POUR HISTOIRE -->
<section id="m-service_types">
    <div class="container">
        <div class="m-team_section">
            <div class="m-section_header">
                <h2>Lorem Ipsum</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="m-service_type row">
            <div class="clearfix">
                <div class="m-service_type_text">
                    <h3>Développement</h3>
                    <p>Ideo urbs venerabilis post superbas efferatarum gentium cervices oppressas latasque leges fundamenta libertatis et retinacula sempiterna velut frugi parens et prudens et dives Caesaribus tamquam liberis suis regenda patrimonii iura permisit.
                </div>
                <div class="m-service_type_img">
                    <img src="{{ asset('assets/images/service_01.jpg') }}" class="img-responsive"
                         alt="">
                </div>
            </div>
            <div class="clearfix">
                <div class="m-service_type_text">
                    <h3>Formation</h3>
                    <p>Ideo urbs venerabilis post superbas efferatarum gentium cervices oppressas latasque leges fundamenta libertatis et retinacula sempiterna velut frugi parens et prudens et dives Caesaribus tamquam liberis suis regenda patrimonii iura permisit.
                </div>
                <div class="m-service_type_img">
                    <img src="{{ asset('assets/images/service_02.jpg') }}" class="img-responsive"
                         alt="">
                </div>
            </div>
            <div class="clearfix">
                <div class="m-service_type_text">
                    <h3>Multimédia</h3>
                    <p>Ideo urbs venerabilis post superbas efferatarum gentium cervices oppressas latasque leges fundamenta libertatis et retinacula sempiterna velut frugi parens et prudens et dives Caesaribus tamquam liberis suis regenda patrimonii iura permisit.
                </div>
                <div class="m-service_type_img">
                    <img src="{{ asset('assets/images/service_03.jpg') }}" class="img-responsive"
                         alt="">
                </div>
            </div>
            {#<div class="clearfix">#}
                {#<div class="m-service_type_text">#}
                    {#<h3>Excelent Designers</h3>#}
                    {#<p>Architecture has to do with planning, designing and constructing form, space and ambience to#}
                        {#reflect functional, technical, social, environmental and aesthetic considerations.</p>#}
                {#</div>#}
                {#<div class="m-service_type_img">#}
                    {#<img src="{{ asset('bundles/frontpage/assets/images/service_04.jpg') }}" class="img-responsive"#}
                         {#alt="">#}
                {#</div>#}
            {#</div>#}
        </div>
    </div>
</section>
<!-- END SERVICES TYPE-->