<!-- SERVICES -->
<section id="m-service_idea">
    <div class="container">
        <div class="m-service_idea row m-m90">

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h3>Développement</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis consectetur cum, cupiditate delectus dolores doloribus est in ipsam itaque laborum molestias nobis quaerat quisquam rerum sunt tempore veniam voluptatem.</p>
                <i class="fa fa-pencil-square-o"></i>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h3>Formation</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis consectetur cum, cupiditate delectus dolores doloribus est in ipsam itaque laborum molestias nobis quaerat quisquam rerum sunt tempore veniam voluptatem.</p>
                <i class="fa fa-compass"></i>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h3>Multimédia</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis consectetur cum, cupiditate delectus dolores doloribus est in ipsam itaque laborum molestias nobis quaerat quisquam rerum sunt tempore veniam voluptatem. </p>
                <i class="fa fa-lightbulb-o"></i>
            </div>


        </div>
    </div>
</section>
<!-- END SERVIVCES -->