<div class="m-main_slider">
    <div id="m-main_slider">
        <div>
            <img src="{{ asset('assets/images/slider1.jpg') }}" class="img-responsive" alt="">
        </div>
        <div>
            <img src="{{ asset('assets/images/slider2.jpg') }}" class="img-responsive" alt="">
        </div>
    </div>
    <div class="m-main_slide_nav">
        <a href="javascript:void(0)" class="m-slide_left" id="m-slide_left"><i class="fa fa-angle-left"></i></a>
        <a href="javascript:void(0)" class="m-slide_right" id="m-slide_right"><i class="fa fa-angle-right"></i></a>
    </div>
</div>